// todo: disabled button styles
button {
  &:disabled {
    cursor: default;
  }
  &.disabled {
    cursor: default;
  }
}

// todo: brand button icon margin
.btn-brand:not(:only-child) {
  .c-icon {
    margin-top: 0 !important;
  }
}
/*
.c-icon-custom-size{
  z-index: -100;
}
.c-header-brand{
  background-image: url("http://localhost:3000/avatars/main-logo-black.png") !important; 
  z-index: 10;
}
.c-header-brand svg > g {
  z-index: -100;
}*/